.wrapper {
    /* background-image: url("/src/images/galaxy.jpg");
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 50%; */

    width: 100%;
    margin: auto;
    text-align: center;
    
}